.App {
  display: flex;
  height: 100vh; /*전체 윈도우의 높이*/
}

.SideBar {
  background-color: aqua;
  width: 200px;
}

.SideBarFooter {
  text-align: center;
  padding: 10px 0;
}

.SideBarFooter__add-button {
  background: none;
  border-radius: 100px;
  border: 2px solid #555;
  width: 40px;
  color: #555;
  height: 40px;
  font-size: 1.3rem;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  opacity: 0.6;
  cursor: pointer;
}

.MemoContainer {
  background-color: beige;
  flex: 1; /*남은 만큼 영역을 채워라 라는 뜻*/
}

.MemoContainer__title {
  width: 100%;
  box-sizing: border-box; /*이 속성 한번 보기*/
  font-size: 2rem;
}

.MemoContainer__content {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.1rem;
  min-height: 600px;
}

.MemoItem {
  width: 100%;
  white-space: nowrap; /*한줄이상 안넘어감*/
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px 8px;
}

.MemoItem.selected {
  background-color: rgba(100, 100, 100, 0.5);
  font-weight: 500;
}
