
.SideBarFooter {
  text-align: center;
  padding: 10px 0;
}

.SideBarFooter__add-button {
  background: none;
  border-radius: 100px;
  border: 2px solid #555;
  width: 40px;
  color: #555;
  height: 40px;
  font-size: 1.3rem;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  opacity: 0.6;
  cursor: pointer;
}